@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --header-height: 0px;
    --footer-height: 120px;
    --aside-width: 64px;
    --logo-width: 200px;
    --logo-height: 32px;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  .header-h {
    height: var(--header-height);
  }

  .footer-h {
    height: var(--footer-height);
  }

  .aside-w {
    width: var(--aside-width);
  }

  .main-content {
    position: relative;
    margin-left: var(--aside-width);
    width: calc(100vw - var(--aside-width));
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .tiptap {
    @apply first:mt-0;

    /* List styles */
    ul,
    ol {
      @apply my-6 ml-6 [&>li]:mt-2;
    }

    ul {
      @apply list-disc;
    }

    ol {
      @apply list-decimal;
    }

    ul li p,
    ol li p {
      @apply my-1;
    }

    /* Heading styles */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply leading-tight mt-10 text-pretty;
    }

    h1,
    h2 {
      @apply mt-14 mb-6;
    }

    h1 {
      @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
    }

    h2 {
      @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
    }

    h3 {
      @apply scroll-m-20 text-2xl font-semibold tracking-tight;
    }

    h4 {
      @apply scroll-m-20 text-xl font-semibold tracking-tight;
    }

    h5,
    h6 {
      @apply text-base;
    }

    p {
      @apply leading-7 [&:not(:first-child)]:mt-6;
    }

    /* Code and preformatted text styles */
    code {
      @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
    }

    pre {
      @apply bg-black rounded-lg text-white font-mono my-6 py-3 px-4;

      code {
        @apply bg-transparent text-inherit text-sm p-0;
      }
    }

    mark {
      @apply bg-yellow-200 rounded py-0.5 px-1.5 box-decoration-clone;
    }

    blockquote {
      @apply mt-6 border-l-2 pl-6 italic;
    }

    hr {
      @apply shrink-0 bg-border h-[2px] w-full;
    }
  }
}
